﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Beste webapp aller tijden</title>
	<link href="css/default.css" rel="stylesheet">
	<script src="scripts/angular.js"></script>
	<script src="scripts/script.js"></script>
</head>
<body ng-app="demoApp" ng-controller="productCtrl as product">

	<h1>Beste webapp</h1>

	<form ng-submit="product.addProduct();">

		Product: <input type="text" ng-model="product.newProduct.product"><br>
		BTW: <input type="number" ng-model="product.newProduct.btw">%<br>
		
		<button>Voeg toe</button>

	</form>


	<button ng-click="product.getProducten();">Haal producten op</button>

	<table>
		<tr>
			<th>ID</th>
			<th>Product</th>
			<th>BTW</th>
		</tr>
		<tr ng-repeat="item in product.producten"
			ng-click="item.btw = item.btw + 5;"
			ng-class="{ 'duur': item.btw > 40 }">
			<td>{{item.id}}</td>
			<td><input type="text" ng-model="item.product"> {{ item.product }}</td>
			<td>{{item.btw}}%</td>
		</tr>
	</table>

</body>
</html>